body {
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  @@ -7,6 +8,7 @@ div.container {
  }
  
  h1 {
    font-size: 100px;
    color: rgba(175, 47, 47, 0.15);
  }
  
  @@ -25,6 +27,9 @@ input[type="checkbox"] {
  
  .form input {
    border: none;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.4em;
  }
  
  .main {
  @@ -35,6 +40,13 @@ input[type="checkbox"] {
  .main > ul > li {
    border-bottom: solid 1px #ededed;
    color: #777;
    font-size: 28px;
    font-weight: 200;
  }
  
  .main button {
    font-size: 25px;
    color: #cc9a9a;
  }
  
  footer {
    border: solid 1px #ddd;
    background-color: white;
  }
  .count,
  button {
    color: #777;
  }
  button {
    background: none;
    border: none;
  }